html,
body,
#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

:root {
    --actions-background: #a8d6ff16;
    --actions-background-active: #a8d6ffff;
    --actions-background-hover: #a8d6ff56;
    --actions-border: #cee1f7;
    --actions-color: #007bff;

    /*
    --actions-background: #479dfc;
    --actions-color: #fff;
    */
}

.wide-modal {
    width: 90%;
    max-width: none;
}
.fullscreen-modal {
    /* A fullscreen modal doesn't take up the _entire_ screen.
       We leave some room at the top and bottom (hence -70px) */
    height: calc(100vh - 70px);
}
.fullscreen-modal .modal-content {
    height: 100%;
}
.fullscreen-modal .modal-body {
    display: flex;
    flex-direction: column;
}

.page-body {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.page-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
    background-color: white;
    padding: 1em;
    box-shadow: inset 70px 70px 1px -70px #00356f38;
}

#app-body {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.admin-view {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.admin-view-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .dropdown-menu.show {
        max-height: 50vh;
        overflow: auto;
    }

    .navbar {
        padding-left: 1em;
        padding-right: 1em;
    }

    @media screen and (max-width: 600px) {
        .navbar {
            display: flex;
            flex-direction: column;
        }
    }
}
.admin-view-container > h5 {
    margin: 0px;
    padding: 6px;
}
.admin-view-container .tab-content {
    flex-grow: 1;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    overflow: hidden;
}
.admin-view-container .tab-content > .tab-pane {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.admin-tab-view-container {
    display: flex;
    height: 100%;
    overflow: auto;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}
.admin-tab-view-actions {
    display: inline-flex;
    gap: 0.5rem;
    flex-direction: column;
    margin: 0.5rem;
    margin-left: 0px;
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    background-color: #e9eef3;
    border-radius: 7px;
    min-width: 13em;
}
.admin-tab-view-actions .btn,
.admin-tab-view-actions .btn-group {
    width: 100%;
}
.admin-tab-view-content {
    flex-grow: 1;
    margin-top: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 250px;
}

.btn.action-button-dropdown {
    flex-basis: 2rem;
    flex-grow: 0;
}

.spreadsheet-table {
    border: 1px solid var(--secondary);
    margin-left: auto;
    margin-right: auto;
}
.spreadsheet-table td,
.spreadsheet-table th {
    border: 1px solid var(--secondary);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.spreadsheet-table th {
    text-align: center;
}
